{% extends 'base_user.html' %}
{% block content %}



  <div class="report-info">
    <p>Reporting Start Date: {{ start_date }}</p>
    <p>Reporting End Date: {{ end_date }}</p>
  </div>

  <div class="table-responsive">
    <div class="table-container">
      <table class="table table-bordered">
<thead>
  <tr class="column-names">
    <th rowspan="3">Group Name</th>
    <th class="border-column" rowspan="2" colspan="1">Beginning of period</th>
    <th class="border-column" colspan="1" rowspan="2">Births</th>
    <th class="border-column" colspan="1" rowspan="2">Purchases</th>
    <th class="border-column" colspan="1" rowspan="2">Gifts</th>
    <th colspan="2">Movement between groups</th>
    <th colspan="1" rowspan="2">Deaths</th>
    <th colspan="1" rowspan="2">Sold</th>
    <th colspan="1" rowspan="2">Consumed</th>
    <th colspan="1" rowspan="2">Gifted</th>
    <th colspan="1" rowspan="2">End of period</th>
    <th colspan="1" rowspan="2">Difference</th>
  </tr>
  <tr>
    <th colspan="1">To</th>
    <th colspan="1">From</th>
  </tr>
  <tr>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
    <th>pcs</th>
  </tr>
</thead>
<tbody>
  {% for group in groups %}
  <tr>
    <td>{{ group.group_name }}</td>
    <td class="beginning-pcs-cell">{{ group.start_date_count }}</td>
    <td>{% if group.acquisition_stats.birth_count == 0 %}{% else %}{{ group.acquisition_stats.birth_count }}{% endif %}</td>
    <td>{% if group.acquisition_stats.purchase_count == 0 %}{% else %}{{ group.acquisition_stats.purchase_count }}{% endif %}</td>
    <td>{% if group.acquisition_stats.gift_count == 0 %}{% else %}{{ group.acquisition_stats.gift_count }}{% endif %}</td>
    <td>{% if group.movement_stats.moved_in == 0 %}{% else %}{{ group.movement_stats.moved_in }}{% endif %}</td>
    <td>{% if group.movement_stats.moved_out == 0 %}{% else %}{{ group.movement_stats.moved_out }}{% endif %}</td>
    <td>{% if group.acquisition_stats.death_count == 0 %}{% else %}{{ group.acquisition_stats.death_count }}{% endif %}</td>
    <td>{% if group.acquisition_stats.sold_count == 0 %}{% else %}{{ group.acquisition_stats.sold_count }}{% endif %}</td>
    <td>{% if group.acquisition_stats.consumed_count == 0 %}{% else %}{{ group.acquisition_stats.consumed_count }}{% endif %}</td>
    <td>{% if group.acquisition_stats.gifted_count == 0 %}{% else %}{{ group.acquisition_stats.gifted_count }}{% endif %}</td>
    <td class="end-pcs-cell">{{ group.end_date_count }}</td>
    <td>{{ group.count_difference }}</td>
  </tr>
  {% endfor %}
</tbody>
        </table>
      </div>
    </div>

{% endblock %}
