{% extends 'base_user.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <title>Update Herd Information</title>

    <h3 class="text-uppercase" style="text-align: center; margin: 20px;">Update -{{ herd.name }}- Herd</h3>
    <div class="card-herds">
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="form-group form-check">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-custom" style="background-color: #b5a369;">Update herd information</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}